<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- debug为true时，使用的是ty.weixiao域名 -->
    <add key="debug" value="true" />
    <!-- 每次拉取的弹幕数量 -->
    <add key="data_length" value="30" />
    <!-- 飞出每条弹幕的时间间隔，单位：秒 -->
    <add key="sleep_time" value="0.8" />
    <!-- 弹幕拉取频率，单位：秒 -->
    <add key="fetch_frequency" value="10" />
    <!-- 弹幕距离屏幕顶端最小值，以屏幕高度的百分比表示 -->
    <add key="min_height" value="0.3" />
    <!-- 弹幕距离屏幕顶端最大值，以屏幕高度的百分比表示 -->
    <add key="max_height" value="0.8" />
    <!-- 弹幕基本字号，具体显示大小会在基本字号的1-2.5倍之间随机 -->
    <add key="font_size" value="24" />    
  </appSettings>
</configuration>